body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    width: 350px;
}

label{
    display: block;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: rgb(106, 137, 184);
    color: white;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 5px;
    border: none;
}

input[type="submit"]:hover{
    background-color: rgb(61, 108, 179);
}

.errorMessage{
    color: red;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: none;
}

#show-hide{
    position: relative;
    top: -10px;
    float: right;
    color: grey;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s ease;
}

#show-hide:hover{
    border-bottom: 1px solid gray; 
    color: rgb(54, 52, 52);
}

